p{
  
    size: 3px;
    color: rgb(9, 17, 32);
    margin: 20;
    

}
li{
    
    list-style-type: none;
    margin: 0px 20px;
}
h2{
    background-color: blue;
    color: cornsilk;
    margin: 0 0 0 auto;
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    
}